<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h3>支付</h3>
        <hr>

        <p>下单时间：{{ order_time }}</p>
        <p>商品订单号：{{ order_num }}</p>
        <p>消费金额：{{ order_pay }}元</p>
        <p>收件人：{{ get_user }}</p>
        <p>邮寄地址：{{ send_address }}</p>
        <hr>
        <button type="button" id="pay">支付</button>
<!--        {% load static %}-->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/pay.js"></script>


{#       <form action="" method="post">#}
{#        {% csrf_token %}#}
{#        <input type="image" id="pay" src="/static/img/shopcart_buy_01.jpg" style="width: 125px; height: 35px; overflow: hidden; float: left;">#}
{#        </form>#}
</body>
</html>