<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/static/css/zhuce.css"/>
		<script src="/static/js/jquery-1.12.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/zhuce.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="top">
			<p>
			   <span>Hi,欢迎来到利群商城！</span>
			   <a href="{% url 'App:login' %}">已注册，请直接登录</a>
{#			   <a href="/static/html/zhuce.html">免费注册</a>#}
			</p>
			<ul class="list">
				<li>我的订单</li>
				<li id="li1">会员中心</li>
				<li id="li2">
					客户服务
					<ul id="list2">
						<li id="lione">客户服务</li>
						<li>帮助中心</li>
						<li>售后服务</li>
						<li>在线投诉</li>
					</ul>
				</li>
				<li id="li3">手机利群</li>
				<li id="li4">利群官网</li>
				<li id="li5">关注利群：</li>
				<li id="li6">
					<img src="/static/img/tdcode.jpg" id="img1"/>
					<img src="/static/img/qq.jpg"/>
					<img src="/static/img/sina.jpg"/>
				</li>
			</ul>

		</div>
		<div class="logo">
			<div id="log">
				<a href="html/zhuye.html"><img src="/static/img/logo.jpg"></a>
				<img src="http://promotion.liqunshop.com/Promotion/headImg/3002.gif" class="fl">
			</div>
			<div class="search">
				<form action="" method="post">
					<img src="/static/img/search.jpg" alt="" />
					<input type="text" name="" id="sea" value="" />
					<input type="submit" value="搜  索" id="sub"/>
				</form>
				<ul id="Hov">
					<li>热门搜索：</li>
					<li class="hover">iphone7大促</li>
					<li class="hover">面膜7折起</li>
					<li class="hover">贝亲五折</li>
					<li class="hover">买就送晶露</li>
					<li class="hover">朗信专场</li>
				</ul>
			</div>
			<div class="go">
				<img src="/static/img/go_cart.jpg" alt="" />
				<img src="/static/img/hot_tel.jpg" alt="" />
			</div>
		</div>
		<div class="concent">
			<div id="epty">

			</div>
			<form action="" method="post">
            {% csrf_token %}
			<div class="username"><span><b>*</b>账户名：</span>
				<div class="ite">
					<input type="text" id="inp1" name="username"/>
					<img src="/static/img/QQ图片20160925150151.png" alt="" class="IMG"/>
				</div>
			</div>
			<div class="username"><span><b>*</b>请设置密码：</span>
				<div  class="ite">
					<input type="password" id="inp2" name="pwd1"/>
					<img src="/static/img/QQ图片20160925150314.png" alt=""  class="IMG"/>
				</div>
				<div class="agre">
					<p class="safe">安全程度：</p>
					<ul class="col">
						<li>弱</li>
						<li>中</li>
						<li>强</li>
					</ul>
				</div>
			</div>
			<div class="username"><span><b>*</b>请确认密码：</span>
				<div  class="ite">
					<input type="password" id="inp3" name="pwd2"/>
					<img src="/static/img/QQ图片20160925150314.png" alt=""  class="IMG"/>
				</div>
			</div>
			<div class="text"><span><b>*</b>验证码：</span>
				<div id="shu">
					<div id="yzm">
					</div>
				    <input type="text" name="code" id="inp4" />
				    <p>
				        &nbsp;看不清？
				        <a href="html/zhuce.html" id="aa">换一张</a>
				    </p>
				</div>
			</div>
			<div class="agr">
				    <input type="checkbox" />
				            我已阅读并同意
				    <a id="span">《利群商城交易条款》</a>
			</div>
			<div class="item">
				    <input type="submit" value="立即注册" id="inp"/>
			</div>
			</form>
		</div>
		<div class="foot">
			<div class="footer">
				<ul id="list1">
					<li id="first">关于我们</li>
					<li>联系我们</li>
					<li>诚聘英才</li>
					<li>手机利群</li>
					<li>销售联盟</li>
					<li>友情链接</li>
					<li>网站合作</li>
					<li>帮助中心</li>
					<li>版权说明</li>
				</ul>
				<ul id="list2">
					<li id="one1">利群集团</li>
					<li>百货集团</li>
					<li>利群网</li>
					<li>利群酒店</li>
					<li>利群房地</li>
					<li>利群旅行</li>
					<li>社利群药</li>
					<li>利群影城</li>
					<li>利群水站</li>
					<li>利群家政</li>
					<li>利群金卡</li>
				</ul>
				<p>
					鲁ICP证09054331号-2 Copyright©2004-2012 利群集团青岛电子商务有限公司 版权所有
				</p>
			</div>
		</div>
		<div class="fix">
			<div id="right"><img src="/static/img/QQ图片20160925181822.png" alt="" /></div>
			<div id="btn">
				<button>回顶部</button>
			</div>
		</div>
	</body>
</html>
